<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/global.css" />
    <link href="../css/dpl.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="crumb_box"><span class="c333">上网记录查询</span><span class="pl10 pr10 ">·</span><a href="#" class="c999">公网源IP查询</a></div>
                <div class="well2 mt10">
                    <div class="form-horizontal onlineTools">
                        <div class="row row-fluid">
                            <div class="span10">
                                <label class="control-label">上线时间</label>
                                <div class="controls">
                                    <div class="input-position">
                                        <input size="16" type="text"  readonly class="form_datetime input-medium">
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="span10">
                                <label class="control-label">下线时间</label>
                                <div class="controls">
                                    <div class="input-position">
                                        <input size="16" type="text"  readonly class="form_datetime input-medium">
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-fluid">
                            <div class="span10">
                                <label class="control-label">公网源IP</label>
                                <div class="controls">
                                    <div class="input-position">
                                        <input type="text" class="input-medium">
                                    </div>
                                </div>
                            </div>
                            <div class="span10">
                                <label class="control-label">公网Port</label>
                                <div class="controls">
                                    <div class="input-position">
                                        <input type="text" class="input-medium">
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <a href="" class="button  button-primary">查询</a><a href="" class="button ml10">重置</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="well">
                    <div class="mb10 clearfix">
                        <!--<div class="fl"><h4>角色列表</h4></div>-->
                        <!--<button href="#" class="button button-info fr"><i class="icon-white icon-plus"></i>新增角色</button>-->
                        <div class="fl"> 共查询到 <span class="text-danger">234</span> 个公网IP </div>
                        <div class="fr"> 第 <span>1-10</span>个公网IP <a href="" class="iconfont"></a><b class="red">1</b>/36<a href="" class="iconfont"></a> </div>
                    </div>
                    <table class="table table-bordered table-striped table-head-bordered table-hover  center ">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>上线时间</th>
                                <th>下线时间</th>
                                <th>上网账号</th>
                                <th>BrasIP</th>
                                <th>用户IP</th>
                                <th>公网IP</th>
                                <th>转换公网端口/端口段</th>
                                <th>分配时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <th>6</th>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>2016-12-12 12:22:22</td>
                                <td>sunshine01</td>
                                <td>192.168.1.1</td>
                                <td>192.168.1.21</td>
                                <td>192.168.1.4</td>
                                <td>255.255.255.1</td>
                                <td>2016-12-12 20:00:22</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--分页-->
                    <div class="parts_down_page clearfix"> <a href="javascript:checkPageIndex(&quot;itemsList!queryAll.action?rs=415&amp;prs=413&quot;,&quot;&quot;,20);"><div class="page_but fr">确定</div></a><div class="parts_down_page_text fr">页</div><input type="text" class="ip6 fr" maxlength="10" size="10" name="pageNo1" id="pageNo"><div class="parts_down_page_text fr">&nbsp;&nbsp;到第</div><div class="parts_down_page_text fr">共20条记录 &nbsp;&nbsp;共2页</div><a href="javascript:turnOverPage(&quot;itemsList!queryAll.action?rs=415&amp;prs=413&quot;,2,20);"><div class="page_down2 fr">下一页</div><div class="page_no fr">2</div></a><a href="javascript:turnOverPage(&quot;itemsList!queryAll.action?rs=415&amp;prs=413&quot;,1,20);"><div class="page_no_off fr">1</div></a></div>
                    <!--//分页-->
                </div>
            </div>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script>
</body>