<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../css/dpl.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/global.css"/>
</head>
<body>
<div class="crumb_box"><span class="c333">系统管理</span> <span class="pl10 pr10 ">·</span><span><a href="#" class="c999">积分统计</a></span>
</div>

<div class=" clearfix " style="width: 100%">
    <div class="fl" style="width: 50%; text-align: center;">
        <div class="well2" style="margin-top: 10px;">
            <div id="main3" style=" height:350px;"></div>
        </div>

    </div>
    <div class=" fl" style="width: 50%; text-align: center;">
        <div class="well2" style="margin-top: 10px;">
            <div id="main8" style=" height:350px;"></div>
        </div>
    </div>

</div>
<div class=" clearfix " style="width: 100%">
    <div class="fl" style="width: 50%; text-align: center;">
        <div class="well2" style="margin-top: 10px;">
            <div id="main4" style=" height:350px;"></div>
        </div>
    </div>

    <div class=" fl" style="width: 50%; text-align: center;">
        <div class="well2" style="margin-top: 10px;">
            <div id="main6" style=" height:350px;"></div>
        </div>
    </div>
</div>
<div class=" clearfix " style="width: 100%">
    <div class=" fl" style="width: 50%; text-align: center;">
        <div class="well2" style="margin-top: 10px;">
            <div id="main7" style=" height:350px;"></div>
        </div>
    </div>

</div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/china.js"></script>

<script>
    var myChart = echarts.init(document.getElementById('main3'));
    option = {
        title:{
            text:'标题',
            left: 'center',
            top: '20'
        },
        series: [
            {
                name:'访问来源',
                type:'pie',
                radius: ['50%', '70%'],
                center: ['50%', '60%'],
                avoidLabelOverlap: true,
                roseType :false,
                label: {
                    normal: {
                        show: true,
                        position: 'outside',
                        formatter:'{b}\n{c}人 \n{d}%'

                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            //fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: true
                    }
                },
                data:[
                    {value:335, name:'人数/占比'},
                    {value:310, name:'人数2/占比'}
                ]
            }
        ]
    };
    myChart.setOption(option);

    var myChart4 = echarts.init(document.getElementById('main4'));
     option = {
        title: {
            text: '每月购买频次'
        },
        tooltip: {},

        xAxis: {
            data: ["支付1次","支付2次","支付3次及以上"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            barMaxWidth:30,
            data: [5, 20, 36]
        }]
    };
    myChart4.setOption(option);


    var myChart6 = echarts.init(document.getElementById('main6'));

    option = {
        title: {
            text: '365天内成交次数占比',
            left: 'center',
            top: '20'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'horizontal',
            x: 'center',
            y: '300',
            data:['支付1次','支付2次','支付3次','支付4次及以上']
        },
        series: [
            {
                name:'访问来源',
                type:'pie',
                radius: ['30%', '45%'],
                avoidLabelOverlap: true,
                roseType :false,
                label: {
                    normal: {
                        show: true,
                        position: 'outside',
                        formatter:'{b}\n{d}% \n{c}人'

                    },
                    emphasis: {
                        show: true,
                        //position: 'center',
                        //formatter:'{b}',
                        textStyle: {
                            //fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: true
                    }
                },
                data:[
                    {value:335, name:'支付1次'},
                    {value:310, name:'支付2次'},
                    {value:234, name:'支付3次'},
                    {value:135, name:'支付4次及以上'}
                ]
            }
        ]
    };


    myChart6.setOption(option);


    var myChart7 = echarts.init(document.getElementById('main7'));
    option = {
        color: ['#16abfe','#ff7070'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        legend: {
            data: ['交易总金额', '客单价']
        },
        xAxis: [{
            type: 'category',
            data: ['1月2日', '1月3日', '1月4日', '1月5日', '1月6日', '1月7日', '1月8日', '1月9日', '1月10日', '1月11日', '1月12日', '1月13日'],
            axisPointer: {
                type: 'shadow'
            }
        }],
        yAxis: [

            {
                type: 'value',
                name: '交易总金额',
                axisLabel: {
                    formatter: '{value}'
                }
            }, {
                type: 'value',
                name: '客单价',
                axisLabel: {
                    formatter: '{value} %'
                }
            },
        ],
        series: [{
            name: '交易总金额',
            type: 'bar',
            yAxisIndex: 0,
            data: [261, 259, 290, 264, 287, 707, 756, 182, 487, 188, 260, 230]
        },

            {
                name: '客单价',
                type: 'line',
                yAxisIndex: 1,
                smooth: true,
                data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
            }
        ]
    };

    myChart7.setOption(option);

    // 基于准备好的dom，初始化echarts实例
    var myChart8 = echarts.init(document.getElementById('main8'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '最近一次购买时间'
        },
        tooltip: {},

        xAxis: {
            data: ["30天内","31-90天","91-180天","181-365天"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            barMaxWidth:30,
            type: 'bar',
            data: [5, 20, 36, 10]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart8.setOption(option);


</script>

</body>
</html>


