<div class="crumb_box"><span class="c333">权限管理</span> <span class="pl10 pr10 ">·</span><span><a href="#" class="c999">管理员管理</a></span></div>
<div class="well2 mt5" >
    <div class="form-horizontal onlineTools">
        <div class="row row-fluid">
            <div class="span10">
                <label class="control-label">管理员名称</label>
                <div class="controls">
                    <div class="input-position">
                        <input size="16" type="text"   class=" input-medium">
                    </div>
                </div>
            </div>
            <div class="span10">
                <label class="control-label">请选择角色</label>
                <div class="controls">
                    <select class="input-medium">
                        <option>请选择角色</option>
                        <option>超级管理员</option>
                        <option>运行监控管理员</option>
                        <option>用户授权管理员</option>
                        <option>普通查询用户</option>
                        <option>一般访客用户</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row-fluid">
            <div class="span10">
                <label class="control-label">账号</label>
                <div class="controls">
                    <div class="input-position">
                        <input size="16" type="text"  readonly class=" input-medium">
                    </div>
                </div>
            </div>
            <div class="span10">
                <label class="control-label">手机号</label>
                <div class="controls">
                    <div class="input-position">
                        <input size="16" type="text"  readonly class=" input-medium">
                    </div>
                </div>
            </div>

            <div class="span4">
                <a href="" class="button button-primary">查询</a><a href="" class="button ml10">重置</a>
            </div>
        </div>
    </div>
</div>
<div class="well" >
    <div class="mb10 clearfix">
        <!--<div class="fl"><h4>角色列表</h4></div>-->
        <!--<button href="#" class="button button-info fr"><i class="icon-white icon-plus"></i>新增角色</button>-->
        <div class="fl"> 共查询到 <span class="text-danger">234</span> 个管理员 </div>
        <div class="fr"> 第 <span>1-10</span>个管理员 <a href="" class="iconfont"></a><b class="red">1</b>/36<a href="" class="iconfont"></a> <a href="#"  class="J_user_add button button-small button-info">新增管理员</a></div>
    </div>
    <table class="table table-bordered table-striped table-head-bordered table-hover  center ">
        <thead>
        <tr>
            <th width="50">序号</th>
            <th>管理员名称</th>
            <th>账号</th>
            <th>绑定IP</th>
            <th>联系方式</th>
            <th width="120">角色</th>
            <th>更新时间</th>
            <th>操作人</th>
            <th width="150">操作</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>zhoujj</td>
                <td>a23042021</td>
                <td>101.10.12.11</td>
                <td>13817829273</td>
                <td>超级管理员</td>
                <td>2016-08-11 </td>
                <td>admin</td>
                <td><a class="J_user_edit pr10" href="#">修改</a><a class="J_delete pr10" href="#">删除</a><a class="J_rest pr10"  href="#" >密码重置</a></td>
            </tr>
        </tbody>
    </table>
    <!--分页-->
    <div class="ad-page-outer ">
        <div id="kkpager" class="fr"></div>
    </div>
    <!--//分页-->
</div>
<!--弹层-新增-->
<div  id="role_add" style="display: none;">
    <div class="limit-container clearfix">
        <div class="form-horizontal onlineTools">
            <div class="row row-fluid d_public_ip">
                <b class="control-label">管理员名称</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="row row-fluid d_public_port">
                <b class="control-label">账号</b>
                <div class="controls">
                    <input size="16" class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="row row-fluid d_public_port">
                <b class="control-label">用户密码</b>
                <div class="controls">
                    <input size="16" class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="row row-fluid d_public_port">
                <b class="control-label">确认密码</b>
                <div class="controls">
                    <input size="16" class=" input-large" type="text"> <span class="text-danger">*</span> <span class="text-danger">两次输入的内容不一致！</span>
                </div>
            </div>
            <div class="row row-fluid d_private_ip">
                <b class="control-label">绑定IP</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text" placeholder="请输入正确的IP格式！"> <span class="text-danger">*</span>
                    <span class="text-danger">请填写信息！</span>
                </div>
            </div>
            <div class="row row-fluid d_private_port mb10">
                <b class="control-label">角色</b>
                <div class="controls">
                    <select id="example-getting-started2" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                        <option value="pepperoni">Pepperoni</option>
                        <option value="onions">Onions</option>
                    </select>
                </div>
            </div>
            <div class="row row-fluid d_destination_ip">
                <b class="control-label">归属地</b>
                <div class="controls">
                    <select>
                        <option>全部</option>
                    </select>
                </div>
            </div>
            <div class="row row-fluid d_destination_port">
                <b class="control-label">联系方式</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="row row-fluid d_destination_url">
                <b class="control-label">邮箱</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="pop_btn ">
                <a href="" class="button button-large button-primary">确认</a> <a href="" class="button button-large ml10">取消</a>
            </div>
        </div>
    </div>
</div>
</div>
<!--//弹层-新增-->
<!--弹层-修改-->
<div  id="role_info" style="display: none;">
    <div class="limit-container clearfix">
        <div class="form-horizontal onlineTools">
            <div class="row row-fluid d_public_ip">
                <b class="control-label">管理员名称</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="row row-fluid d_public_port">
                <b class="control-label">账号</b>
                <div class="controls">
                    <input size="16" class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="row row-fluid d_private_ip">
                <b class="control-label">绑定IP</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text" placeholder="请输入正确的IP格式！"> <span class="text-danger">*</span>
                    <span class="text-danger">请填写信息！</span>
                </div>
            </div>
            <div class="row row-fluid d_private_port mb10">
                <b class="control-label">角色</b>
                <div class="controls">
                    <select id="example-getting-started" multiple="multiple">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                        <option value="pepperoni">Pepperoni</option>
                        <option value="onions">Onions</option>
                    </select>
                </div>
            </div>
            <div class="row row-fluid d_destination_ip">
                <b class="control-label">归属地</b>
                <div class="controls">
                   <select>
                       <option>全部</option>
                   </select>
                </div>
            </div>
            <div class="row row-fluid d_destination_port">
                <b class="control-label">联系方式</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="row row-fluid d_destination_url">
                <b class="control-label">邮箱</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="pop_btn ">
                <a href="" class="button button-large button-primary">确认</a> <a href="" class="button button-large ml10">取消</a>
            </div>
        </div>
    </div>
    </div>
</div>
<!--//弹层-修改-->
<!--弹层-密码重置-->
<div  id="role_set" style="display: none;">
    <div class="limit-container clearfix">
        <div class="form-horizontal onlineTools">
            <div class="row row-fluid d_public_ip">
                <b class="control-label">管理员名称</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>
            <div class="row row-fluid d_public_port">
                <b class="control-label">账号</b>
                <div class="controls">
                    <input size="16" class=" input-large" type="text"> <span class="text-danger">*</span>
                </div>
            </div>


            <div class="row row-fluid d_destination_port">
                <b class="control-label">新密码</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text" placeholder="请输入6-18位字符"> <span class="text-danger">*</span> <span class="text-danger">请填写信息</span>
                    <div class="passwordStrength">密码强度： <span class="bgStrength">弱</span><span>中</span><span class="last">强</span></div>
                </div>
            </div>
            <div class="row row-fluid d_destination_url">
                <b class="control-label">确认密码</b>
                <div class="controls">
                    <input size="16"  class=" input-large" type="text" placeholder="请再次输入密码"> <span class="text-danger">*</span> <span class="text-danger">请填写信息</span>
                </div>
            </div>
            <div class="pop_btn ">
                <a href="" class="button button-large button-primary">确认</a> <a href="" class="button button-large ml10">取消</a>
            </div>
        </div>
    </div>

</div>
<!--//弹层-密码重置-->
<script>
    $(document).ready(function() {
        $('#example-getting-started').multiselect();
        $('#example-getting-started2').multiselect();
    });
    $('.J_delete').on('click', function(){
        layer.confirm('是否确认删除该角色？', {
            title: '询问',
            btn: ['确认','取消'] //按钮
        });
    });
    /* 角色修改*/
    $('.J_user_edit').on('click', function(){
        layer.open({
            type: 1,
            title: '角色修改',
            area: ['600px', '440px'],
            shadeClose: true,
            content: $('#role_info')
        });
    });
    /*密码重置*/
    $('.J_rest').on('click', function(){
        layer.open({
            type: 1,
            title: '密码重置',
            area: ['600px', '350px'],
            shadeClose: true,
            content: $('#role_set')
        });
    });
    /*新增管理员*/
    $('.J_user_add').on('click', function(){
        layer.open({
            type: 1,
            title: '新增管理员',
            area: ['650px', '450px'],
            shadeClose: true,
            content: $('#role_add')
        });
    });

    $(function(){
        /*分页*/
        var totalPage = 2;
        var totalRecords = 10;
        var pageNo = getParameter('pno');
        if(!pageNo){
            pageNo = 1;
        }
        //生成分页
        //有些参数是可选的，比如lang，若不传有默认值
        if(totalPage==1){
            $("#kkpager").hide()
        }else{
            $("#kkpager").show();
            kkpager.generPageHtml({
                pagerid : 'kkpager',
                pno : pageNo,
                //总页码
                total : totalPage,
                //总数据条数
                totalRecords : totalRecords,
                mode : 'click',//默认值是link，可选link或者click
                click : function(n){
                    // do something
                    //手动选中按钮
                    this.selectPage(n);
                    return false;
                },
                //getHref是在click模式下链接算法，一般不需要配置，默认代码如下
                getHref : function(n){
                    return '#';
                }
            });
        }
    })

    function getParameter(name) {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return unescape(r[2]); return null;
    }

</script>

