<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../css/dpl.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="../css/kkpager.css"/>
</head>
<body>
<div class="crumb_box"><span class="c333">系统管理</span> <span class="pl10 pr10 ">·</span><span><a href="#" class="c999">会员详情</a></span>
</div>
<div class="well2 clearfix " style="margin-top: 5px;">
    <table class="table table-bordered  table-head-bordered table-hover  left">
        <tr>
            <td width="150"><span class="c999">真实姓名</span></td>
            <td width="250">杨肃临</td>
            <td width="150"><span class="c999">性别</span></td>
            <td>女</td>
            <td width="150"><span class="c999">手机</span></td>
            <td>18098987827</td>
        </tr>
        <tr>
            <td><span class="c999">电子邮箱</span></td>
            <td>zzjj34932432@sina.com</td>
            <td><span class="c999">生日</span></td>
            <td>2009-12-02</td>
            <td><span class="c999">省份城市</span></td>
            <td>江苏省苏州市</td>
        </tr>
    </table>
    <table class="table table-bordered  table-head-bordered table-hover  left">
        <tr>
            <td width="150"><span class="c999">会员级别</span></td>
            <td  width="250">普通会员</td>
            <td width="150"><span class="c999">会员状态</span></td>
            <td colspan="3">享受折扣</td>
        </tr>
        <tr>
            <td><span class="c999">信用等级</span></td>
            <td><i class="iconfont icon-xingji cred"></i><i class="iconfont icon-xingji cred"></i><i class="iconfont icon-xingji cred"></i><i class="iconfont icon-xingji cred"></i><i class="iconfont icon-xingji cred"></i></td>
            <td><span class="c999">交易次数</span></td>
            <td>2次</td>
            <td  width="150"><span class="c999">交易额</span></td>
            <td>3434.87（元）</td>
        </tr>
        <tr>
            <td><span class="c999">上次交易时间</span></td>
            <td>2018-02-11</td>
            <td><span class="c999">宝贝件数</span></td>
            <td>13件</td>
            <td><span class="c999">平均订单金额</span></td>
            <td>343.87（元）</td>
        </tr>
        <tr>
            <td><span class="c999">交易关闭数</span></td>
            <td>1笔</td>
            <td><span class="c999">客户来源</span></td>
            <td colspan="3">交易成功</td>
        </tr>
        <tr>
            <td><span class="c999">收货地址</span></td>
            <td colspan="5">江苏省南京市等等</td>
        </tr>
    </table>

    <table class="table table-bordered  table-head-bordered table-hover  left">
        <tr>
            <td width="150"><span class="c999">分组</span></td>
            <td colspan="3">
                <div class="tab_menu">
                    <a href="#">A类顾客不足2000元等等</a>
                    <a href="#">B类顾客不足2000元等等</a>
                    <a href="#">C类顾客不足2000元等等</a>
                    <a href="#">D类顾客不足2000元等等</a>
                    <a href="#">E类顾客不足2000元等等</a>
                </div>
            </td>
        </tr>
        <tr>
            <td><span class="c999">备注时间</span></td>
            <td>内容</td>
            <td>时间</td>
            <td>操作</td>
        </tr>
    </table>
</div>

</body>
</html>


