<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../css/dpl.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/global.css"/>
</head>
<body>
<div class="crumb_box"><span class="c333">系统管理</span> <span class="pl10 pr10 ">·</span><span><a href="#" class="c999">营销统计</a></span>
</div>
<div class=" ml10 mt20  clearfix">
    <div class="border-left-blue fl"><b>数据预览</b> <span class="icon_warn pl10">ROI(投入产出比)1:17</span></div>
    <div class=" c666 fr">
        <div>
           <span class="pr10">分析时间：2018-01-20 10:35-2018-02-01 19:22</span>
            <select style="width: 100px;" >
                <option>近7天</option>
            </select>
            <select style="width: 100px;margin-right: 10px;">
                <option>全部终端</option>
            </select>
        </div>
    </div>
</div>

<div class="well2 clearfix " style="margin-top: 0px;">
    <div class="tj_user fl">
        <div class="clearfix">
            <div class="icon_bacfround fl"><i class="iconfont icon-yonghu"></i></div>
            <b class="ml10 pt10 fl ">覆盖会员</b>
        </div>
        <div class="user_info">
            <ul>
                <li>目标客户数：<span class="icon_warn">9666</span>人</li>
                <li>发送成功客户数：<span class="icon_warn">9666</span>人</li>
                <li>发送成功率：<span class="icon_warn">96</span>%</li>
                <li>发送短信数：<span class="icon_warn">9666</span>条</li>
                <li>短信成本：<span class="icon_warn">32.23</span>元</li>
                <li>总响应率：<span class="icon_warn">0.20</span>%</li>
                <li>未响应客户数：<span class="icon_warn">4354</span>人</li>
            </ul>
        </div>
    </div>
    <div class="tj_user fl">
        <div class="clearfix">
            <div class="icon_bacfround fl"><i class="iconfont icon-yonghu"></i></div>
            <b class="ml10 pt10 fl ">拍下客户</b>
        </div>
        <div class="user_info">
            <ul>
                <li>拍下客户数：<span class="icon_warn">66</span>人</li>
                <li>拍下金额：<span class="icon_warn">9666.00</span>元</li>
                <li>拍下订单数：<span class="icon_warn">22</span>笔</li>
                <li>拍下商品件数：<span class="icon_warn">34</span>件</li>
                <li>客单价：<span class="icon_warn">32.23</span>元</li>
                <li>平均拍下商品件数：<span class="icon_warn">32</span>件</li>
                <li>拍下响应率：<span class="icon_warn">0.20</span>%</li>
            </ul>
        </div>
    </div>
    <div class="tj_user fl">
        <div class="clearfix">
            <div class="icon_bacfround fl"><i class="iconfont icon-yonghu"></i></div>
            <b class="ml10 pt10 fl ">成交客户</b>
        </div>
        <div class="user_info">
            <ul>
                <li>成交客户数：<span class="icon_warn">9666</span>人</li>
                <li>成交金额：<span class="icon_warn">966.00</span>元</li>
                <li>成交订单数：<span class="icon_warn">21</span>笔</li>
                <li>成交商品件数：<span class="icon_warn">9666</span>件</li>
                <li>短网址点击UV/PV：<span class="icon_warn">0/0</span>次</li>
                <li>客单价：<span class="icon_warn">454.35</span>元</li>
                <li>平均购买商品件数：<span class="icon_warn">2.5</span>件</li>
                <li>成交响应率：<span class="icon_warn">0.19</span>%</li>
            </ul>
        </div>
    </div>
    <div class="tj_user fl">
        <div class="clearfix">
            <div class="icon_bacfround fl"><i class="iconfont icon-yonghu"></i></div>
            <b class="ml10 pt10 fl ">意向客户</b>
        </div>
        <div class="user_info">
            <ul>
                <li>意向客户数：<span class="icon_warn">9666</span>人</li>
                <li>意向金额：<span class="icon_warn">9666</span>人</li>
                <li>意向订单数：<span class="icon_warn">96</span>%</li>
                <li>意向商品件数：<span class="icon_warn">9666</span>条</li>
                <li>客单价：<span class="icon_warn">32.23</span>元</li>
                <li>平均意向商品件数：<span class="icon_warn">1.0</span>件</li>
                <li>意向响应率：<span class="icon_warn">0.4</span>%</li>
            </ul>
        </div>
    </div>
    <div class="tj_user fl">
        <div class="clearfix">
            <div class="icon_bacfround fl"><i class="iconfont icon-yonghu"></i></div>
            <b class="ml10 pt10 fl ">退款客户</b>
        </div>
        <div class="user_info">
            <ul>
                <li>退款客户数：<span class="icon_warn">9666</span>人</li>
                <li>退款金额：<span class="icon_warn">213.00</span>元</li>
                <li>退款订单数：<span class="icon_warn">0</span>笔</li>
                <li>退款商品件数：<span class="icon_warn">0</span>件</li>
                <li>客单价：<span class="icon_warn">0.00</span>元</li>
                <li>平均退款商品件数：<span class="icon_warn">0</span>件</li>
                <li>退款率：<span class="icon_warn">0</span>%</li>
            </ul>
        </div>
    </div>
</div>

<div class=" ml10 mt20  clearfix">
    <div class="border-left-blue fl"><b>效果分析趋势</b></div>
    <div class=" c666 fr">
        <div>
            <div class="fr">
                <select style="width: 100px;margin-right: 10px; margin-left: 10px;">
                    <option>分析指标</option>
                </select>
            </div>
            <div class="ml10 fr">
                <a href="#"  class="button button-small button-info">确认</a>
            </div>
            <div class=" date_box fr" style="width: 150px;">
                <input type="text" id="config-date" class="form-control" style="width: 150px;">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </div>
            <div class="fr" style="padding: 0 5px;">-</div>
            <div class=" date_box fr" style="width: 150px;">
                <input type="text" id="config-date2" class="form-control" style="width: 150px;">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </div>
            <div class="fr">
                <select style="width: 100px;margin-right: 10px; margin-left: 10px; margin-top: 3px;">
                    <option>自定义时间</option>
                </select>
            </div>

        </div>
    </div>
</div>
<div class="well2" style="margin-top: 5px;;">
    <div class="new_tab mt10 clearfix">
        <div class="tag_box " style="margin-left: 10px;">
            <a href="#" class=" tags  border-left tag_on">图示</a> <a href="#" class=" tags border-right " >列表显示</a>
        </div>
    </div>
    <div class="tag_box " style="margin-left: 10px;">
        <a href="#" class="btn" style="border: 1px solid #6ab0f4;">+高级筛选</a>
    </div>
    <div class="mt40">
        <div id="main" style="width:100%; height:400px;"></div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/bootstrap-datetimepicker.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/china.js"></script>
<script>
    //日历
    var beginTimeTake;
    $('#config-date').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoUpdateInput: false,
                timePicker24Hour : false,
                timePicker : false,
                "locale": {
                    format: 'YYYY-MM-DD'

                }
            },
            function(start, end, label) {
                beginTimeTake = start;
                if(!this.startDate){
                    this.element.val('');
                }else{
                    this.element.val(this.startDate.format(this.locale.format));
                }
            });
    var beginTimeTake2;
    $('#config-date2').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoUpdateInput: false,
                timePicker24Hour : false,
                timePicker : false,
                "locale": {
                    format: 'YYYY-MM-DD'

                }
            },
            function(start, end, label) {
                beginTimeTake2 = start;
                if(!this.startDate){
                    this.element.val('');
                }else{
                    this.element.val(this.startDate.format(this.locale.format));
                }
            });
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    option = {
        title: {
            text: '效果分析趋势'
        },
        tooltip : {
            trigger: 'axis'
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : ['周一','周二','周三','周四','周五','周六','周日']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'邮件营销',
                type:'line',
                stack: '总量',
                areaStyle: {normal: {}},
                data:[120, 132, 101, 134, 90, 230, 210]
            }
        ]
    };

    myChart.setOption(option);
    // 使用刚指定的配置项和数据显示图表。
</script>

</body>
</html>


