<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../css/dpl.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/global.css"/>
    <link rel="stylesheet" href="../css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="../css/kkpager.css"/>
</head>
<body>
<div class="crumb_box"><span class="c333">系统管理</span> <span class="pl10 pr10 ">·</span><span><a href="#" class="c999">订单详情</a></span>
</div>


<div class="well2 clearfix " style="margin-top: 5px;">
    <div class="order_box">
        <table class="order_tab " cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                   <th width="300">宝贝</th>
                   <th>单价</th>
                   <th>数量</th>
                   <th>售后</th>
                   <th>买家</th>
                   <th>交易状态</th>
                   <th>实收款</th>
                   <th width="100">评价</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td colspan="8">
                    <p>订单编号： 20140809200102 </p>
                    <p>成交时间：2014-08-09 12:55:22 </p>
                </td>
            </tr>
            <tr>
                <td  class="text-left">
                    <a href="" target="_blank"><img src="../images/ex.jpg" class="fl mr10" alt="80x80" data-src="hd.js/80x80" style="width: 80px; height: 80px;"></a>
                    <h5><a href="" target="_blank">奥妙净蓝全效深层洁净洗衣液2KG+金纺 怡神熏衣草柔顺剂</a></h5>
                </td>
                <td class="noborder" width="130">
                    <div class="s_price">￥49.00</div>
                </td>
                <td class="noborder " width="100">2</td>
                <td class="noborder" width="130">
                    <a href="#">退运保险</a>
                </td>
                <td >
                    <a href="#">sadkasdka</a><br>
                    <a href="#" class="message"><i class="iconfont icon-wangwang"></i>给我留言</a>
                </td>
                <td >
                    <div>交易关闭</div>
                    <div><a href="">详情</a></div>
                </td>
                <td >
                  <div><b>￥49.00</b></div>
                    <div>(含快递：￥0.00)</div>
                    <div class="cblue">手机订单</div>
                </td>
                <td></td>
            </tr>

            <tr>
                <td colspan="8">
                    <p>订单编号： 20140809200102 </p>
                    <p>成交时间：2014-08-09 12:55:22 </p>
                </td>
            </tr>
            <tr>
                <td width="300" class="text-left">
                    <a href="" target="_blank"><img src="../images/ex.jpg" class="fl mr10" alt="80x80" data-src="hd.js/80x80" style="width: 80px; height: 80px;"></a>
                    <h5><a href="" target="_blank">奥妙净蓝全效深层洁净洗衣液2KG+金纺 怡神熏衣草柔顺剂</a></h5>
                </td>
                <td class="noborder" >
                    <div class="s_price">￥49.00</div>
                </td>
                <td class="noborder " width="100">2</td>
                <td class="noborder" width="130">
                    <a href="#">退运保险</a>
                </td>
                <td>
                    <a href="#">sadkasdka</a><br>
                    <a href="#" class="message"><i class="iconfont icon-wangwang"></i>给我留言</a>
                </td>
                <td >
                    <div>交易成功</div>
                    <div><a href="">详情</a></div>
                </td>
                <td >
                    <div><b>￥49.00</b></div>
                    <div>(含快递：￥0.00)</div>
                    <div class="cblue">手机订单</div>
                </td>
                <td><a href="">退款</a></td>
            </tr>
            <tr>
                <td colspan="8">
                    <p>订单编号： 20140809200102 </p>
                    <p>成交时间：2014-08-09 12:55:22 </p>
                </td>
            </tr>
            <tr>
                <td width="300" class="text-left">
                    <a href="" target="_blank"><img src="../images/ex.jpg" class="fl mr10" alt="80x80" data-src="hd.js/80x80" style="width: 80px; height: 80px;"></a>
                    <h5><a href="" target="_blank">奥妙净蓝全效深层洁净洗衣液2KG+金纺 怡神熏衣草柔顺剂</a></h5>
                </td>
                <td class="noborder" width="130">
                    <div class="s_price">￥49.00</div>
                </td>
                <td class="noborder " >2</td>
                <td class="noborder">
                    <a href="#">退运保险</a>
                </td>
                <td   rowspan="2">
                    <a href="#">sadkasdka</a><br>
                    <a href="#" class="message"><i class="iconfont icon-wangwang"></i>给我留言</a>
                </td>
                <td   rowspan="2">
                    <div>交易关闭</div>
                    <div><a href="">详情</a></div>
                </td>
                <td  rowspan="2">
                    <div><b>￥49.00</b></div>
                    <div>(含快递：￥0.00)</div>
                    <div class="cblue">手机订单</div>
                </td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td width="300" class="text-left">
                    <a href="" target="_blank"><img src="../images/ex.jpg" class="fl mr10" alt="80x80" data-src="hd.js/80x80" style="width: 80px; height: 80px;"></a>
                    <h5><a href="" target="_blank">奥妙净蓝全效深层洁净洗衣液2KG+金纺 怡神熏衣草柔顺剂</a></h5>
                </td>
                <td class="noborder" >
                    <div class="s_price">￥49.00</div>
                </td>
                <td class="noborder " >2</td>
                <td class="noborder " >
                    <a href="#">退运保险</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div class="ad-page-outer ">
        <div id="kkpager" class="fr"></div>
    </div>
    <!--//分页-->
</div>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/bootstrap-datetimepicker.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/china.js"></script>
<script src="../js/kkpager.min.js"></script>
<script>
    //日历
    var beginTimeTake;
    $('#config-date').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoUpdateInput: false,
                timePicker24Hour : false,
                timePicker : false,
                "locale": {
                    format: 'YYYY-MM-DD'

                }
            },
            function(start, end, label) {
                beginTimeTake = start;
                if(!this.startDate){
                    this.element.val('');
                }else{
                    this.element.val(this.startDate.format(this.locale.format));
                }
            });
    var beginTimeTake2;
    $('#config-date2').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoUpdateInput: false,
                timePicker24Hour : false,
                timePicker : false,
                "locale": {
                    format: 'YYYY-MM-DD'

                }
            },
            function(start, end, label) {
                beginTimeTake2 = start;
                if(!this.startDate){
                    this.element.val('');
                }else{
                    this.element.val(this.startDate.format(this.locale.format));
                }
            });
    $(function(){
        /*分页*/
        var totalPage = 2;
        var totalRecords = 10;
        var pageNo = getParameter('pno');
        if(!pageNo){
            pageNo = 1;
        }
        //生成分页
        //有些参数是可选的，比如lang，若不传有默认值
        if(totalPage==1){
            $("#kkpager").hide()
        }else{
            $("#kkpager").show();
            kkpager.generPageHtml({
                pagerid : 'kkpager',
                pno : pageNo,
                //总页码
                total : totalPage,
                isGoPage:false,
                //总数据条数
                totalRecords : totalRecords,
                mode : 'click',//默认值是link，可选link或者click
                click : function(n){
                    // do something
                    //手动选中按钮
                    this.selectPage(n);
                    return false;
                },
                //getHref是在click模式下链接算法，一般不需要配置，默认代码如下
                getHref : function(n){
                    return '#';
                }
            });
        }
    })
    function getParameter(name) {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return unescape(r[2]); return null;
    }
    var beginTimeTake2;
    $('#config-date2').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoUpdateInput: false,
                timePicker24Hour: false,
                timePicker: false,
                "locale": {
                    format: 'YYYY-MM-DD'

                }
            },
            function (start, end, label) {
                beginTimeTake2 = start;
                if (!this.startDate) {
                    this.element.val('');
                } else {
                    this.element.val(this.startDate.format(this.locale.format));
                }
            });
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    option = {
        title: {
            text: '职业分布',
            x: 'center',
            top: '20'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'right',
            data: ['公司职员', '个体经营/服务人员', '教职工', '学生', '医务人员', '公务人员', '工人']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {value: 335, name: '公司职员'},
                    {value: 310, name: '个体经营/服务人员'},
                    {value: 234, name: '教职工'},
                    {value: 135, name: '学生'},
                    {value: 1548, name: '公务人员'},
                    {value: 1548, name: '工人'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option);
    // 使用刚指定的配置项和数据显示图表。

    // 基于准备好的dom，初始化echarts实例
    var myChart2 = echarts.init(document.getElementById('main2'));
    // 指定图表的配置项和数据
    option = {
        title: {
            text: '买家行为',
            x: 'center',
            top: '20'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            orient: 'vertical',
            left: 'right',
            data: ['下单时段', '支付时段']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['01', '02', '03', '04', '05', '06', '07']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '下单时段',
                type: 'line',
                stack: '总量',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '支付时段',
                type: 'line',
                stack: '总量',
                data: [220, 182, 191, 234, 290, 330, 310]
            }
        ]
    };
    myChart2.setOption(option);
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //时间插件
        $('#reportrange span').html(moment().subtract('hours', 1).format('YYYY-MM-DD') + ' - ' + moment().format('YYYY-MM-DD'));

        $('#reportrange').daterangepicker(
                {
                    // startDate: moment().startOf('day'),
                    //endDate: moment(),
                    //minDate: '01/01/2012',    //最小时间
                    maxDate: moment(), //最大时间
                    dateLimit: {
                        days: 30
                    }, //起止时间的最大间隔
                    showDropdowns: true,
                    showWeekNumbers: false, //是否显示第几周
                    timePicker: false, //是否显示小时和分钟
                    timePickerIncrement: 60, //时间的增量，单位为分钟
                    timePicker12Hour: false, //是否使用12小时制来显示时间
                    ranges: {
                        //'最近1小时': [moment().subtract('hours',1), moment()],
                        '今日': [moment().startOf('day'), moment()],
                        '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                        '最近7日': [moment().subtract('days', 6), moment()],
                        '最近30日': [moment().subtract('days', 29), moment()]
                    },
                    opens: 'right', //日期选择框的弹出位置
                    buttonClasses: ['btn btn-default'],
                    applyClass: 'btn-small btn-primary blue',
                    cancelClass: 'btn-small',
                    format: 'YYYY-MM-DD', //控件中from和to 显示的日期格式
                    separator: ' to ',
                    locale: {
                        applyLabel: '确定',
                        cancelLabel: '取消',
                        fromLabel: '起始时间',
                        toLabel: '结束时间',
                        customRangeLabel: '自定义',
                        daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                            '七月', '八月', '九月', '十月', '十一月', '十二月'],
                        firstDay: 1
                    }
                }, function (start, end, label) {//格式化日期显示框

                    $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
                });
    })


</script>
</body>
</html>


